/* services */
.services{
    background: rgb(223, 223, 223);
    padding: 2rem 1rem;
  }
  .services .title{
    text-align: center;
  }
  .title h1{
    font-size: 2rem;
    text-transform: capitalize;
  }
  .title span{
    color: #0EABCC;
  }
  .title .slogan{
    font-size: 1rem;
    color: gray;
  }
  .services_boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
  .box{
    width: 320px;
    background: #fff;
    padding: 2rem;
    margin: 1rem 2rem;
    text-align: center;
    border-radius: 10px;
    border: 2px solid transparent;
    box-shadow: 1px 30px 20px rgba(0, 0, 0, 0.1);
  }
  .box i{
    font-size: 4rem;
    color: #0EABCC;
    margin-bottom: 2rem;
  }
  .box p{
    color: gray;
    margin-top: 10px;
  }
  .box:hover, .br{
    border: 2px solid #0EABCC;
  }
  .box:hover i{
    color: #0EABCC;
  }
  @media screen and (max-width: 768px) {
    .services_boxes{
      flex-direction: column;
    }
    .box{
      margin: 1rem 0;
    }
  }
    
  