section-100 {
    padding: 100px 0;
  }
  
  .btn {
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 50px;
    text-transform: uppercase;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
  }
  
  .btn.btn-lg {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .btn-primary {
    background-color: #0EABCC;
    border-color: #0EABCC;
  }
  
  .btn-primary:hover {
    background-color: #70c3d3;
    border-color: #0EABCC;
  }
  
  .blog-card {
    background: #fff;
    -webkit-box-shadow: 0 5px 30px -3px rgba(0, 0, 0, 0.16);
            box-shadow: 0 5px 30px -3px rgba(0, 0, 0, 0.16);
    margin-bottom: 30px;
  }
  
  .blog-card .blog-thumbnail {
    width: 100%;
    height: 220px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .blog-card .blog-container {
    padding: 15px;
  }
  
  